td:first-child {
  color: green;
  font-weight: bold;
  text-align: right;
  vertical-align: text-top;
  padding-right: 0.5em;
  max-width: 50%;
  overflow-wrap: anywhere;
}
td:first-child::after {
  content: ":";
}
#caption {
  font-weight: bold;
}
.ts {
  font-style: italic;
  color: #333333;
}
.ts::before {
  content: " (";
}
.ts::after {
  content: ")";
}
