td:first-child {
  color: green;
  font-weight: bold;
  text-align: right;
  vertical-align: text-top;
  padding-right: 0.5em;
  min-width: 70px;
  max-width: 50%;
  overflow-wrap: anywhere;
}
td:first-child::after {
  content: ":";
}
#caption {
  font-weight: bold;
}
.ts {
  font-style: italic;
  color: firebrick;
}
.ts::before {
  content: " (";
}
.ts::after {
  content: ")";
}
fieldset {
  border: 2px solid #000;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;	
  }
legend {
  color: #FFF;
  background: #000;
  font-size: 1.5em;
  padding: 5px;
  
  }
@media (prefers-color-scheme: dark) {
  * { color: silver; }
  button { color: black; }
  td:first-child { color: darkseagreen; }
  .ts { color: lightcoral; }
  fieldset {
    border: thick solid #fff;
    }
  legend {
    color: #000;
    background: #fff;
    }
}
